/* ---------lihomeli/pge/style----*/

.contact{
    font-family: jaka;
    font-size: 4rem;
    position: relative;
    justify-content: center;

}



.contact span{
    margin-left: 10px;
    color: #a89e0c;

}

.contact::after{
    content: '';
    width: 300px;
    height: 3px;
    border: 2px;
    position: absolute;
    background-color: #5e5a5a;
    bottom: 30px;
}

.hmepge{
    width: auto;
    height:1500px ;
    margin: 10px 10px auto;
    background-color:  rgba(94, 141, 141, 0.164);;
    padding: 10px 10px auto;
    margin: 0 0 0 -15px;
}

.hmepge h1{
    text-decoration: none;
    align-items: center;
    justify-items: center;
    font-family: jayb;
    font-size: 2rem;
    font-weight: bold;
    translate: 100px 10px;
    position: relative;
    margin: 100px 0 0 -80px;
    box-shadow: 1px 1px 10px green;
    width: 155px;
    padding-left: 35px;

}

.hmepge p{
    justify-content: center;
    align-items: end;
    font-size: 1rem;
    font-family: jayb;
    margin: 80px 0 0 150px;
    font-size: 1.3rem;
    background-color: #a8640c;
    width: 50px;
    border-radius: 5px;

}

.no button{
    color: rgb(8, 75, 36);
    text-shadow: 1px 1px 2px;
    letter-spacing: 0.1cm;
    left: 0;
    margin: 2px 0 0 220px;
    width: inherit;
    height: inherit;
    background-color: transparent;
}


.socialmediapge h1{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: jayb;
    font-size: 2rem;
    font-weight: bold;
    margin: -165px 0 0 350px;
    box-shadow: 1px 1px 10px yellow;
    width: 200px;
    padding-left: 30px;
    
}

.hmepge h1::after{
    content: '';
    width: 190px;
    height: 6px;
    position: absolute;
    bottom: 10px;
    border: 3px;
    margin: 0 0 0 70px;
    background-color: black;
}


/*social ---links----icon---*/

.YouTube{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.bi-twitter-x{
    color: black ;
    font-size: 3.5rem;
    position: absolute;
    display: flex;
    margin: 25px 0 0 416px;
    flex-wrap: wrap;
    left: 0px; 
    top: 0%; 
}

.YouTube ion-icon{
    color: black ;
    font-size: 4rem;
    position: absolute;
    display: flex;
    margin: 225px 0 10px 28px;
    flex-wrap: wrap;
    left: 0px; 
}

.social_icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.social_icons ion-icon{
    color: black ;
    font-size: 4rem;
    position: absolute;
    display: flex;
    margin: 20px 0 10px 120px;
    flex-wrap: wrap;

}


.call_icon{
    display: flex;
}

.bi-telephone-fill{
    font-size: 4rem;
    left: 50px;
    margin: 150px 0;
    position: absolute;
    color: rgb(24, 179, 63);
    top: 35%;
}

/*-------hovers/on--icon----*/



.YouTube ion-icon:hover{
    color: #f2fdff;
    border-radius: 10px;
}

.social_icons ion-icon:hover{
    color: #f2fdff;
    border-radius: 10px;
}

.bi-twitter-x:hover{
    color: #f2fdff; 
    border-radius: 10px;
}

/*----end---of--socisl--links--icon--*/

.hmepge h3{
    text-decoration: none;
    color: #a06b6b;
    font-size: 1.5rem;
    margin: 100px 0 0 20px;
    font-family: jayb;
    text-decoration: 5px  underline rgba(0, 153, 255, 0.507);
}


.social_links a h3{
    margin: 0 500px 0;
    padding-top: 100px;
    padding-bottom: 5px;
    font-weight:200 ;
    color: #f2fdff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: jayb;
}


.social_links a {
    display: flex;
    margin: 10px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 80px;
    width: 100px;
    line-height: 30px;
    justify-content: center;
    text-decoration: none;
    color: #41c9a7;
    margin: 0 20px 0 10px;
}

.social_links a:hover{
    border-radius: 10px;
    background-color: #746363;
}


.social_links {
    box-shadow: 1px 1px 10px;
    width:650px;
    height: 370px;
    display: flex;
    position: relative;
    margin: 70px 0 0px 500px;
    flex-wrap: wrap;
    
}

.EMAIL h1::after{
    content: '';
    width: 522px;
    height: 5px;
    background-color: black;
    position: absolute;
    border: 50px;
    margin: 30px 0 0 60px;
}


.EMAIL h1{
    position: absolute;
    margin: -100px 0 0 500px;
    box-shadow: 1px 1px 10px blue;
    width: 158px;
    padding-left: 30px;
    translate: -50 -50;
}


.EMAIL h1::before{
    content: '';
    width: 440px;
    height: 5px;
    background-color: black;
    position: absolute;
    border: 50px;
    margin: 30px 0 0 -500px;


}
.EMAIL p{
    margin-top: 200px;
}

 /*.EMAIL{
    border: 1px solid;
    height: 3px;
    width: auto;
    background-color: #5e5a5a;
 }*/

/* ------this is jsvascript functions----*/

.call_none{
    display: none;
}

.call_now{
    display: block;
    background-color:  rgb(136, 183, 204);
}


/***************Stsrt of Email html********************/

.emailinfo p{
    color: black;
    font-family: jayb;
    margin: -450px 0 0 50px;
    font-size: 2.5rem;
}

.emailinfo span{
    margin-left: 100px;
    margin: 200px 100px 0 0px;
    display: grid;
    font-size: 1.8rem;
    background-color: darkkhaki;
    width: 400px;
}

.emailinfo button{
    left: 0;
    margin: 150px 0 0 300px;
    font-size: 2rem;
    width: 200px ;
    height: 50px;
    transform: translateX(-5px);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    border: none;
    border-radius: 10px;
}

.emailinfo button:hover{
    box-shadow: 2px 2px 10px;
    transform: translateX(-5px);
    transform: translateX(0);
    border: none;
    background-color: rgb(98, 153, 155);
    color: azure;
    font-size: 2rem;

}

.emailinfo h3{
    color: rgb(106, 145, 230);
    margin: 0 0 0 100px;
    font-size: 2rem;
}

 button.register{
    margin: 100px 0 0 300px;
    width: 150px;
    height: inherit;
    border: none;
    border-radius: 15px;
    background-color: rgb(71, 161, 131);
    transform: translateX(-3px);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    top: 72%;
}

button.sign-in{
    margin: 150px 0 0 500px;
    width: 150px;
    height: inherit;
    border: none;
    border-radius: 15px;
    background-color: rgb(71, 161, 131);
    transform: translateX(-3px);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    
}

button:hover{
    box-shadow: 2p 2px 10px white;
    color: rgb(49, 47, 47);
    transform: translateX(-3px);
    transform: translateX(0);
    font-size: 1rem;
}


/*------about--us------ */


.about_us{
    width: auto;
    height:1600px ;
    margin: 10px 10px auto;
    background-color: rgb(155, 205, 228);
    padding: 10px 10px auto;
    margin: -7px 0 0 -15px;
}

.about{
    margin: 0 0 0 -5px;
}


.abt_us{
    font-family: jaka;
    font-size: 2rem;
    position: relative;
    justify-content: center;
    margin: 20px auto;

}




.abt_us span{
    margin-left: 10px;
    color: #a89e0c;

}

.abt_us::after{
    content: '';
    width: 300px;
    height: 3px;
    border: 2px;
    position: absolute;
    background-color: #5e5a5a;
    bottom: 15px;
    left: -50%;
}

.FIND{
    display: block;
}

button.FIND{
    margin: 20px 20px 0 100px;
    width: 300px;
    height: fit-content;
    font-family: jayb;
    font-size: 0.8rem;
}

button.FIND::after{
    content: '';
    width: 800px;
    height: 5px;
    background-color: black;
    position: absolute;
    border: 50px;
    margin: -5px 0 0 165px;
}

button.FIND::before{
    content: '';
    width: 80px;
    height: 5px;
    background-color: black;
    position: absolute;
    border: 50px;
    margin: 55px 0 0 -235px;

}

.about_us p{
    position: relative;
    border: none;
    background-color: rgb(153, 202, 210);

}

p.founder{
    font-size: 1.1rem;
    font-family: jayb;
    position: absolute;
    margin: 140px 50px;
    padding: 20px;
    line-height: 30px;
    writing-mode: sideways-lr 20s,;
}

/*-----aniamte/founder/text------*/



span.abt_products{
    color: aliceblue;
    position: relative;
}

.what_sell{
    position:absolute;
    margin: 470px 400px;
    color: rgb(0, 46, 49);
    text-shadow: 1px 1px 2px;
    animation-name: fling;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fling{
    From{
        transform: scaleX(2);
    To{
        transform: scaleX(3);
    }
}}

#we_sell{
    position: absolute;
    margin: 530px 50px ;
    font-family: jayb;
    font-size: 1.1rem;
    padding: 20px;
    line-height: 30px;
}

.gift{
    position: absolute;
    margin:  670px 500px;
    font-family: jayb;
    font-size: 1.2rem;
    color: rgb(0, 46, 49);
    text-shadow: 1px 1px 2px;
}

p.location{
    position: absolute;
    margin: 770px 50px;
    font-family: jayb;
    width: inherit;
    font-size: 1.1rem;
    padding: 20px;
    line-height: 30px;

}
.encourage{
    position: absolute;
    margin: 1100px 300px;
    font-size: 2rem;
    font-family: jaka;
    color: aliceblue;
}

.encourage span{
    color: #a89e0c;
}

/*---------java--show/hide--about--button--------- */

.dont_show{
    display: none;
}

.show{
    display: block;
}


/*------donate/style------- */


.donate{
    width: auto;
    height:1600px ;
    margin: 10px 10px auto;
    background-color: rgb(155, 205, 228);
    padding: 10px 10px auto;
    margin: 0 0 0 10px;
}



.dnte_h{
    font-family: jaka;
    font-size: 4rem;
    position: relative;
    justify-content: center;
    translate: -50 -50;
    margin: 20px auto;
}

.dnte_h::after{
    content: '';
    width: 300px;
    height: 3px;
    border: 2px;
    position: absolute;
    background-color: #5e5a5a;
    bottom: 30px;  
}

.dnte_h span{
    color: #a89e0c;  
}

.charity h1{
    margin: 40px 20px 0 100px;
    width: 250px;
    height: fit-content;
    font-family: jayb;
    font-size: 1.8rem;
    box-shadow: 1px 1px 10px cadetblue;
}

.charity h1::after{
    content: '';
    content: '';
    width: 800px;
    height: 5px;
    background-color: black;
    position: absolute;
    border: 50px;
    margin: 25px 0 0 65px;
}

.charity h1::before{
    content: '';
    content: '';
    width: 75px;
    height: 5px;
    background-color: black;
    position: absolute;
    border: 50px;
    margin: 25px 0 0 -80px;
}

.charity p{
    font-size: 1.1rem;
    font-family: jayb;
    position: absolute;
    margin: 50px 50px;
    padding: 20px;
    line-height: 30px;

}

.charity h2{
    position: absolute;
    margin: 130px 50px ;
    font-family: jayb;
    font-size: 1.1rem;
    padding: 20px;
    line-height: 30px;
}


.charity_org h2{
    position: relative;
    margin: 190px 0px 0 200px;
    color: rgb(0, 46, 49);
    text-decoration: none;
    line-height: 0px;
    display: inline-block;
    padding: 30px;
}

.donate_now h1{
    justify-content: center;
    margin: 20px 20px 0 100px;
    padding: 20px;

}

.donate_now p{
    font-size: 1.1rem;
    font-family: jayb;
    padding: 20px;
    margin: 20px 40px;
    line-height: 30px;
}

.give{
    width: 150px;
}

.give h1{
    margin: 0 0 0 0 ;
}