{% extends "baseD.html" %}
{% block content %}
{% load humanize %}



<style>
    .assets-container{
        position: relative;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        padding: 60px;
    }
    .assets-container .assets{
        position: relative;
        background-color: #fffcff;
        padding: 30px;
        box-shadow: 0 7px 25px 1px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }
    .asset-kes{
        font-family: jayb;
        font-size: 1.5rem;
    }
    .posted-container{
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;

    }
    .posted-container .items-posted{
        position: relative;
        display: grid;
        min-height: 500px;
        background-color: #fffcff;
        padding: 20px;
        box-shadow: 0 7px rgba(0, 0, 0, 0.08);
        border-radius: 15px;
    }
    .items-posted .head{
        justify-content: space-between;
        display: flex;
        align-items: flex-start;

    }
    .items-posted .view{
        position: relative;
        padding: 5px 10px;
        background-color: rgb(0, 110, 255);
        text-decoration: none;
        color: #fffcff;
        border-radius: 10px;
    }
    .posted-container table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    .posted-container table thead tr th{
        font-weight: bolder;

    }
    .posted-container .items-posted table tr{
        border-bottom:  1px solid rgba(0, 0, 0, 0.08);
    }
    .posted-container .items-posted table tbody tr:hover{
        background-color: rgba(0, 102, 255, 0.712);

    }
    .posted-container .items-posted table tr:last-child{
        border-bottom: none;
    }
    .posted-container .items-posted table tr th:nth-child(1){
        text-align: start;
        position: relative;
        left: 10px;
    }
    .posted-container .items-posted table tr th:nth-child(2){
        text-align: start;
        position: relative;
        left: 10px;
    }.posted-container .items-posted table tr th:nth-child(3){
        text-align: start;
        left: 10px;
        position: relative;
    }.posted-container .items-posted table tr th:nth-child(4){
        text-align: start;
    }.posted-container .items-posted table tr th:nth-child(5){
        text-align: start;
        position: relative;
        left: 10px;
    }.posted-container .items-posted table tr th:nth-child(6){
        text-align: center;
    }.posted-container .items-posted table tr th:nth-child(7){
        text-align: start;
        position: relative;
        left: 10px;
    }
    .posted-container .items-posted table tr td{
        padding: 10px;

    }
    .ionic ion-icon{
        color: black;
        position: absolute;
        top: 30%;
        right: 10%;
        font-size: 2rem;
    }
    .asset-name{
        font-size: 1.1rem;
        font-weight: 500;
        font-family: jayb;
    }
    .kes{
        background-color: rgba(0, 128, 0, 0.685);
        border-radius: 5px;
        color: purple;
        padding: 1px 1px;
    }
    .available{
        width: fit-content;
        color: black;
        font-weight: 400;
        background-color: rgba(255, 217, 0, 0.822);
        padding: 1px 1px;
        border-radius: 5px;
        font-family: jayb;
        position: relative;
    }
    .available:hover{
        background-color: rgba(255, 217, 0, 0.589);
    }

</style>

<!-----assets-->
<div class="assets-container">
    <!----pending cheques-->
    <div class="assets">
        <div class="asset-kes"><h5>Total: <span class="kes">KES</span> {{ persistent_total_price|intcomma }} </h5> <span class="ionic"><ion-icon name="cash-outline"></ion-icon></span> </div>
        <div class="asset-name">Assets</div>

    </div>
    <!-----Items posted-->
    <div class="assets">
        
        <div class="asset-kes"> <h5>{{persistent_item_count }}</h5><span class="ionic"><ion-icon name="cloud-upload-outline"></ion-icon></span> </div>
        <div class="asset-name">Posted Items</div>

    </div>
    <!----sold items-->
    <div class="assets">
        <div class="asset-kes"></div>
        <div class="asset-name">Items sold</div>

    </div>
    <!-----wallet-->
    <div class="assets">
        <div class="asset-kes"> <span class="ionic"><ion-icon name="wallet-outline"></ion-icon></span> </div>
        <div class="asset-name">wallet</div>

    </div>
</div>


<!-----------item detail posted-->
<div class="posted-container">
    <div class="items-posted">
        <div class="head">
            <h2>Recent Items</h2>
            <a href="#" class="view">View All</a>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>In Stock</th>
                    <th>Posted By</th>
                    <th>Date Posted</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if persistent_items %}
                    {% for item in persistent_items %}
                        <tr>
                            <td>{{ item.name }}</td>

                            <td>{{ item.category }}</td>

                            <td>{{ item.price }}</td>

                            <td>
                                {% if item.in_stock < 3 %}
                                        <strong style="color: red;">{{ item.in_stock }} (Low Stock)</strong>
                                    {% else %}
                                        {{ item.in_stock }}
                                    {% endif %}
                            </td>

                            <td>{{ item.created_by }}</td>

                            <td>{{ item.created_at }}</td>
                            <td>
                                {% if item.available %}
                                    <p class="available">Available
                                    {% if item.in_stock < 3 %}
                                        <p style="background-color: red;position: absolute;margin-top: -5px;text-align: center;padding: 1px 1px;border-radius: 5px;">Low Stock</p>
                                        {% endif %}

                                        {% if item.in_stock > 3 %}
                                        <p style="background-color: rgb(66, 228, 26);position: absolute;margin-top: -5px;text-align: flex-end;padding: 1px 1px;border-radius: 5px;">good</p>

                                        {% endif %}
                                        </p>
                                        

                                {% else %}
                                    <p class="not-available">Not Available</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">No items found for this vendor.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


{% endblock %}