.roomUsersContainer {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.roomUsersContainer h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #343a40;
}

.roomUsersContainer p {
    font-size: 1rem;
    color: #6c757d;
}

.roomUsersContainer ul {
    list-style-type: none;
    padding: 0;
}

.roomUserItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.roomUserItem:hover {
    background-color: #3633ff63;
    color: black;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.userDetails {
    font-size: 1rem;
    color: #495057;
}

/* Badge styles */
.badge {
    display: inline-block;
    margin-left: 10px;
    padding: 2px 6px;
    font-size: 0.8rem;
    border-radius: 4px;
    font-weight: 600;
    color: white;
}

.badge-admin {
    background-color: #007bff; /* Blue for Admins */
}

.badge-vendor {
    background-color: #28a745; /* Green for Vendors */
}

.badge-user {
    background-color: #6c757d; /* Grey for Regular Users */
}
