{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>Maa Mara Market</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

 <body>

        <!-----header-start------>
    
    <header>
        <div class="header_text">
        
        <div class="logo_name">
            <a href="#">Maa Mara 
                <span>Market</span></a>
        </div>

        <!-----right-nav-barstart------>

        <div class="right_navbar">

            <nav class="middle_nav">

                <a href="#">Track Order</a>
                <a href="#">Wishlist</a>
                
                <div class="wrap-nav">
                <div class="cash">
                   <a href="#">KSH<span class="arrowDwn"><ion-icon name="chevron-down-outline"></ion-icon></span></a>

                    <!-------------------adding a drop window on click or hover-------->

                    <div class="currancy">
                        <div id="currancy-change">
                        <a href="#">KSH</a>
                        <a href="#">USD</a>
                        <a href="#">EURO</a></div>
                        
                    </div></div>

                    <div class="language">
                    <a href="#">English<span class="arrowDwn"><ion-icon name="chevron-down-outline"></ion-icon></span></a>
                        <!-------------------adding a drop window on click or hover-------->
                        <div class="kiswahili">
                        <li id="kiswahili_lang"><a href="#">Kiswahili</a><span></span></div></div></div>
            </nav>

        </div>

        <!--------- header-navstart-------->


        <div class="header_nav">

            <nav class="main_nav_right">
                        <div class="Sign-Up_btn"><a href="{% url 'register' %}">Sign-Up</a></div>
                     
                        
                        <a href="#"><span class="profile"><ion-icon name="person-outline"></ion-icon></span></a>
        </div>       
            </nav>


        </div>

        <div class="cart-logo"><ion-icon name="cart-outline"></ion-icon><span class="integer">0</span></div>
        <style>
            .cart-logo{
                position:fixed;color: red;font-size: 2rem;right: 5%; top: 6%;z-index: 1000;background-color: #ffffffc5;width: 100px;height: 50px;text-align: center;padding: 20px 10px;border-radius: 100px;
            }
            .integer{
                padding: 0.5px auto;right: 30px;position: absolute;border-radius: 100px;height: 20px;width: 20px;font-size: 1rem;top: 3%; background-color: rgba(255, 0, 0, 0.445);color: #fff;text-align: center;
            }
          
        </style>
        
    </header>

        <!------- aside start------>


    <aside class="navigation">



        <nav class="colour_background">
            <div>
                <ul>
                    <li id="nav_name">
            <li> <a href="#"><span class="ionicicon"><ion-icon name="home-outline"></ion-icon></span>Home</a></li>
        <!-----contact us----->

             <li class="call_us"> <a href="{% url 'contact' %}"><span class="ionicicon"><ion-icon name="call-outline"></ion-icon></span>Contact Us</a></li>

                 <li> <a href="{% url 'about' %}"><span class="ionicicon"><ion-icon name="heart-circle-outline"></ion-icon></span>About Us</a></li>
               

                    <li> <a href="{% url 'donate' %}"><span class="ionicicon"><ion-icon name="heart-circle-outline"></ion-icon></span>Donate</a></li>

                        <li> <a href="#"><span class="ionicicon"><ion-icon name="flame-outline"></ion-icon></span>Hot Deals</a></li>

                            <li> <a href="{% url 'item_list' %}"><span class="ionicicon"><ion-icon name="people-outline"></ion-icon></span>Community</a></li>

                                <li><a href="#"><span class="ionicicon"><ion-icon name="airplane-outline"></ion-icon></span>Return Policy</a></li>
                    </li>
                </ul>
            </div>
            
        </nav>

    </aside>


          <!---- main start-->


    <main class=".main">
        <!-----------------toggle-bar-->

        <div class="toggle">
            <span><ion-icon name="menu-outline"></ion-icon></span>
            
        </div>

<!------------------------left- window-->
        <div class="left_window">
            <nav class="left-window">
                <div class="account"><a href="#">Account</a></div>
                <div class="vouchers"><a href="#">Vouchers</a></div>
                <div class="invite"><a href="{% url 'category_list' %}">Invite</a></div>
                <div class="offers"><a href="#">Special Offers</a></div>
                <div class="offers"><a href="#">Vendor Dashboard</a></div>
                <div class="Favourite"><a href="#">Favourite <span id="count">0</span> </a></div>
            </nav>
        </div>

<!--------------------------------------create a container for liked products/ favourtes container-->

        <div class="Favourite_container">
            <h2>favourtes</h2>
           <!--<div class="favContainer"><div class="product_in_fav_list">
            <div class="image"><img src="f06/placematts.jpg" alt=""></div>
        ----------product description--------------
            <div class="product_name"><p>Raffia Placemats</p></div>
         </div><h1 class="ksh">KSH.1,750</h1></div>---->
            <button class="clear">Clear all</button>
        </div>



<!----------------middle/window-->


        <div class="middle_window">
            

        <nav class="all"><div class="department">Categories<span class="dropdown_arrow"><ion-icon name="chevron-down-outline"></ion-icon></span></nav>
            <style>
                 div.department:hover{
                    background-color: rgb(238, 126, 126);
                 }
                 div.department{
                    background-color: rgb(182, 170, 104);
                }
                .dropdwn {
                    display: none;
                }
        
                .department {
                    cursor: pointer;
                }
        
                .dropdwn.show {
                    display: grid;background-color: aliceblue;grid-template-rows: auto;min-height: 300px;
                }
                .category-name{
                    text-decoration: none;font-family: jayb;display: inline-flex;line-height: 20px;width: 200px;background-color: transparent;margin: -20px;
                }
                .category-name:hover{
                    color: gray;
                }
                .category_container{
                    position: relative;width: 200px;height: fit-content;display: inline-block;
                }
                .cart-icon{
                    position: sticky;top: 0;margin: 0 0 0 100px;
                }
        
            </style>

                <div class="dropdwn">
                                
                    {% for category in categories %}
                        
                        <nav class="category_container"><a class="category-name" href="#">{{ category.name }}</a></nav>
                        <p>{{ category.item.count }}</p>
                    
                    {% endfor %}
                </div>
            
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var department = document.querySelector('.department');
                    var dropdown = document.querySelector('.dropdwn');
        
                    department.addEventListener('click', function () {
                        dropdown.classList.toggle('show');
                    });
        
                    // Close the dropdown if clicking outside of it
                    document.addEventListener('click', function (event) {
                        if (!department.contains(event.target) && !dropdown.contains(event.target)) {
                            dropdown.classList.remove('show');
                        }
                    });
                });
            </script>
            
            <div class="category_nav">
    

        <div>Trending</div>
        <div>special offers</div>
        <div>Best sellers</div>
        <div>Play and Win</div>
        <div>Shop Quick</div>
    
        </nav></div></div>


<!-------top-main-nav-bar-start----->


        <div class="top_navbar">

            <nav>
                    <div class="topbar">
                    
            <!-----------products-->            

                <div class="prod-acts"><i class="bi bi-p-circle-fill"></i><span >Products</span> </div>
            <!--------------promotions-->
                          
             <div class="Promotions"><i class="bi bi-award-fill"></i><span >Promotions</span></div> 

            <!--------------services-->   

                <div class="Services"><i class="bi bi-gear-wide-connected"></i><span >Services</span></div> 

               <!----------shop-->

               <div class="Shop"><i class="bi bi-bag-fill"></i><span >Shop</span></div>

               <!---------sell---->

               <div class="sell"><i class="bi bi-currency-exchange"></i><span >Sell</span></div>


               <!----------ship-->
              
             <div class="shipping"><i class="bi bi-truck"></i><span >Shipping</span></div>

                    </div>
                
                
            </nav></div>

             <!-------add product for sale on the product list and categories-->
               
             <div class="sell_container">

                <form action="">
                    <div class="form_container">

                <div class="image_input">

                    <input  type="file" >

                </div>

                <div class="item_name">

                    <input type="text" placeholder="Enter product name">

                </div>

                <div class="item_category">

                    <input type="text" placeholder="kitchen, home decor, carpet, Lamps...">

                </div>

                <div class="item_description">

                    <input type="text" placeholder="product description">

                </div>

                <div class="item_price" >

                    <input type="number" placeholder="product price (ksh.)">

                </div>

                <div class="sell-btn">

                    <button>Post New Product</button>

                </div>
                    </div>
                </form>

               </div>
            
<!------------------CART CONTAINER START------------>
<div class="cart">
    <div class="cart-title"><h2>Cart List</h2></div>

    <!--cart total price-->
    <div class="total">
        <div class="ksh-title">Ksh.</div>
        <div class="total_title">Total</div>
        <div class="total-price">0.00</div>
    </div>
    <!---------cart cash out button-->
    <button class="cash_out">Check Out</button>

<div class="cart_container">
        

    
    <div class="cart_content">
    
<div class="productBoxInCart">
    
    <!----
    <img src= "f06/placematts.jpg" alt="">       

        <p class="itemName"> Raffia Placemats - Made from Raffia </p>

    <h1 class="product-price"> KSH. 1,750 </h1>--->
<div class="cart_details">
 
    <div class="delete">delete</div>

    <div class="cart_quantitity">
        <button onclick="press()" id="add">+</button>
        <span class="noOfItems">1</span>
        <button id="minus">-</button>
        
    </div></div>

</div>  </div> 

    
    

</div></div>              

                
                
            


        <!---------------------------product-align-start------------------------->
        <div class="productlist">


            <!---------------serach engine start-->
            <div id="search-container">
                 
                <label class="search" id="search_engine"><button>search</button></label>
                <label for="search_engine"><ion-icon name="search-outline" class="search-outline"></ion-icon></label>

               <div class="search-input"> <input type="search" placeholder="search" id="search_engine"></div></div>

<!--------------------favourite icons------------------->

     <div class="favourite-icon"><ion-icon name="heart"></ion-icon><span class="fav-number">0</span></div>  
     
<!---------------------cart icons----------------------->

    <div class="cart-icon"><ion-icon name="cart-outline"></ion-icon><span class="number">0</span></div>            

<!----------content/product-box-------start-->                
     <div class="content" id="Raffia-Placemats">

        <img src="{% static 'f06/placematts.jpg' %}" alt=""> 

        <!---------love--icon------------>

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Raffia Placemats - Made from Raffia</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 1,750</h1></div><h2>2,010/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!-------------------------------------iconstarchecked-------------------------------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="Raffia-Set-of-3">

        <img src="{% static 'f06/set buskets.jpg' %}" alt="">
        <!------------------------------love--icon----------------------------------------->

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Raffia Set of 3 - Made from Raffia</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 2,750</h1></div><h2>3,017/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!--------------------------------iconstarchecked-------------------------------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="kitenge-Fan" >

        <img src="{% static 'f06/PSX_20241202_142436.jpg' %}" alt="">
        <!----------------------------------love--icon------------------------------------->

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Kitenge Fan - Made kitenge material</p>
        <div class="price_list"><h1>Ksh.</h1><h1>ksh.</h1><h1 class="price"> 1,250</h1></div><h2>1,510/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!----------------------------------------------iconstarchecked--------------------------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="Assorted-Big5-Animals">

        <img src="{% static 'f06/20241126_140823.jpg' %}" alt="">
        <!---------love--icon------------>

        <span  class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Assorted Big 5 Animals - Made from </p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 7,950</h1></div><h2>8,110/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="girrafe-Lampshade">

        <img src="{% static 'products/girrafe lampshade.jpg' %}" alt="">
        <!---------love--icon------------>

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">girrafe lampshade - Made with beads</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 41,750</h1></div><h2>42,010/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="Jani-shea-butter">

        <img src="{% static 'products/jani soap.jpg' %}" alt="">
        <!---------love--icon------------>

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Neem shea butter soap Jani - with neem</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 3,750</h1></div><h2>3,910/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="kuba-wall-hanging">

        <img src="{% static 'products/kuba wall hanging.jpg' %}" alt="">
        <!---------love--icon------------>

        <span  class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Kuba Wall hanging - Made West Africa</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 37,750</h1></div><h2>41,040/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="nativity-soapstone">

        <img src="{% static 'products/nativity.jpg' %}" alt="">
        <!---------love--icon------------>

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Soapstone Nativity set- Made with Saopstone</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 4,255</h1></div><h2>4,310/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="nativity-soapstone">

        <img src="{% static 'products/nativity.jpg' %}" alt="">
        <!---------love--icon------------>

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Soapstone Nativity set- Made with Saopstone</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 4,255</h1></div><h2>4,310/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     </div>

     <div class="content" id="nativity-soapstone">

        <img src="{% static 'products/nativity.jpg' %}" alt="">
        <!---------love--icon------------>

        <span class="love"><ion-icon name="heart"></ion-icon></span>
        <p class="item_name">Soapstone Nativity set- Made with Saopstone</p>
        <div class="price_list"><h1>Ksh.</h1><h1 class="price"> 4,255</h1></div><h2>4,310/-</h2>
       <button class="pluscart"> Add to Cart</button>
        <!---------iconstarchecked--------->

        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star"></ion-icon></span>
        <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
     
        </div>

    

        

<!---------------seperator window on preoduct-list-->




        </div>

        

        <div class="animation_text">
            <h1>
                welcome! <span>African handcrafted</span>
            </h1>
            <h2>Shop with us. . . </h2>
            </div>
            <!---new arrivals------------>
            <style>
                .page_title h1{
                    font-family: jaka;background-color: gold;border-bottom: 0.1px solid black;padding: 5px;border-radius: 10px; height: fit-content;position: absolute;
                }
            </style>
            <div class="new_arrival">
                <div class="page_title">
                    <h1>NEW ARRIVALS</h1>
                </div>
                {% for item in items %}
                <div class="content" >
                   
                    <a class="details" href="{% url 'item_detail' pk=item.pk %}">
                    <img src="{{ item.image.url }}" alt=""></a>
                    <!------------------------------love--icon----------------------------------------->
            
                    <span class="love"><ion-icon name="heart"></ion-icon></span>
                    <p class="item_name">{{ item.name }}</p>
                    <div class="price_list"><h1>Ksh.</h1><h1 class="price"> {{ item.price }} </h1></div><h2>3,017/-</h2>
                   <button class="pluscart"> Add to Cart</button>
                    <!--------------------------------iconstarchecked-------------------------------->
            
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
                 </div>{% endfor %}</div>
            </div>
        

        <!-----------image--sky-->

    
        <div class="sky_img">
            <span class="plane"><ion-icon name="airplane"></ion-icon></span>
            <h2>Global <span>shipping</span><span class="txt">Guaranteed!</span></h2>
        </div>

    </main>

    <footer>
        <div class="footer-container">

        </div>
    </footer>
    <style>
        .footer-container{
            width: 100%; height: 40vh;background-color: rgba(10, 10, 92, 0.411); margin: 0 0 0 -18px;      
        }
    </style>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="{% static 'js.js' %}"></script>
    <script >
        

    </script>
    
 </body>
</html>