
@media screen and (max-width: 470px){
    
    
    .cart-logo {
        position:fixed;
        display: flex;
        justify-content: space-around; /* or space-evenly */
        align-items: center;
        padding: 0 0; /* Add padding as needed */
        width: 100%;
        bottom: 0%;
        top: auto;
        background-color: #ffffff;
        border-radius: 1px;
        right: 0%;
    }

    .cart-logo .left,
    .cart-logo .center,
    .cart-logo .right,
    .cart-logo .side{
        margin: 0 5px; /* Adjust margin as needed */
        display: flex;
    }

    div.joinInnerContainer{
    position: relative;
    width: 100%;


}

input.joinInput{
    position: relative;
    margin-left: -40px;
}

div.outerContainer{
    position: relative;
    margin-left: -50px;
    padding-right: 20px;
    width: 400px;
}

div.profileInfo{
    position: relative;
    margin-left: -20px;
    display: block;
}

div.messageBox{
    position: relative;
    padding: 0 10px;
}


/* vendor window */
.login-container{
    width: 100%;
    height: fit-content;
}
.login-container h2{
    font-size: 1rem;

}


}