<!DOCTYPE html>
<html>
    <head>
        <title>Maa Mara Market | Community</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    </head>

    <body>
        
        <header>

            <div class="community">COMM<span>U</span><span class="nity">NITY</span></div>
        </header>

        <main>
        <div class="community_body">
            <video autoplay loop muted plays-inline class="backgropund_video"><source src="maa_px/20241024_170518.mp4" type="video/mp4"></video>
            
            
            <div class="colour_bg"><h1>Community</h1>

            <!-----varible-headear= T in table-----> 

            <div class="column_head" id="Members">

            <a href="#"><h2>Members</h2></a> 

            <a href="#"><h2>Newsettlers</h2></a>

            <a href="#"><h2>Carrers</h2></a> 
            
            <a href="#"><h2>Reviews</h2></a></div> </div>

            <!--------------user-- profile-- preview-->

            <div class="user_profile_menu">
                <button class="subscribe">Suscribe</button>
                <button class="accounts">Account</button>
            </div>

            <!------active members-->
            <div class="active_members">
                <h2>Active Members</h2>
            </div>

            <div class="actve_members">

            <div class="member_card">
                <img src="users photos/IMG-20240902-WA0000.jpg" alt="">
                <div id="subscribers">
                <p class="name">Mathew</p>
                <p class="status">Status :</p>
                <p class="subscribed">Member :</p></div>
                <button class="subscribe_user">Subscribe</button>
                <button class="chat">Chat</button>
            </div>

            <div class="member_card">
                <img src="users photos/fred.jpg" alt="">
                <div id="subscribers">
                <p class="name">Fred</p>
                <p class="status">Status :</p>
                <p class="subscribed">Member :</p></div>
                <button class="subscribe_user">Subscribe</button>
                <button class="chat">Chat</button>
            </div>


            <div class="member_card">
                <img src="users photos/kabena.jpg" alt="">
                <div id="subscribers">
                <p class="name">Kabena</p>
                <p class="status">Status :</p>
                <p class="subscribed">Member :</p></div>
                <button class="subscribe_user">Subscribe</button>
                <button class="chat">Chat</button>
            </div>


            <div class="member_card">
                <img src="users photos/okoth.jpg" alt="">
                <div id="subscribers">
                <p class="name">Okoth</p>
                <p class="status">Status :</p>
                <p class="subscribed">Member :</p></div>
                <button class="subscribe_user">Subscribe</button>
                <button class="chat">Chat</button>
            </div>


            <div class="member_card">
                <img src="users photos/otwola.jpg" alt="">
                <div id="subscribers">
                <p class="name">Otwola</p>
                <p class="status">Status :</p>
                <p class="subscribed">Member :</p></div>
                <button class="subscribe_user">Subscribe</button>
                <button class="chat">Chat</button>
            </div>
            </div>
            
        
        </div></main>
    </body>
</html>