<!DOCTYPE html>
<html>
    <head>
        <title>Maa Mara Market | Donate</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    </head>

    <body>
        
        <div class="donate">
            <header class="dnte_h">DO<span>NA</span>TE</header>
            <div class="charity">
                <h1>How it works!</h1>
                <p>We support charity of our own choice</p>
                <h2>Listed below are the charity organisations that we support</h2>
            
                    <div class="charity_org">
                      <h2> Achego Orphanage</h2>
                      <h2> Muhoroni Orphanage</h2>
                       <h2>Chemelil Orphanage Home</h2>
                       <h2>Small Home</h2>
                    </div>
            
            </div>

            <div class="donate_now">

                <h1>Donate now!</h1>
                <p>A decision that you make from your heart, "hands that gives, will also recieve abonduntly". i am takin this opportunity to encourage kind hearts to donate anything is accepted.</p>

                    <button class="give"><h1>Donate</h1></button>


            </div>
       
       
        </div>


    </body>
</html>