{% load static %}

<!DOCTYPE html>
<HTML>
    <head>
        <title>Maa Mara Market | About Us</title>
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <body>

            <!-----about us---->

<div class="about_us">
<header class="about"> 
    <div class="abt_us"> ABOUT <span>US</span> </div></header>
    
<div class="abt us">

   <button class="FIND"><h1>FIND OUT MORE!</h1></button> 

    <p class="founder">Maa Mara was founded in 2024 by <i>William Okoth Opondo</i>. William built an ecomerce website and named it <i>Maa</i> - the word originating from a popular clan in Nairobi 'the Maasai Mara', 'maa' 'mara'. He built the website to help the people in the community, to make income out of art and craft talent.
    <span class="abt_products">Products here are authentic and antique. some of them were used in the past to perform cultural activities such as wedding. for instance, the Maasai weding head gear with was worn on the head to indicate royalty and also it symbolized integrity.
        <h2 class="what_sell">What products do we sell</h2>
        <p id="we_sell">We sell variety of products such as; banting kanga, wall hangings, tablemats, Carpets poncho,masks phone stands, laptop stands among many more. <h3 class="gift">Are you looking for a gift shop in Nairobi?</h3>
        <p class="location">You are in the right place! we offer the best selling price in the city. we deliver products to your door. we also ship products worldwide. products of handled with care and will definately reach you destination safe and in same condition. Since products are handmade, it is difficult to promise the size and descriptin accuracy. we look forward in transforming art and craft to the next level.</p>
        <div class="encourage"><h1>Shop with us! <span>and we'll put a smile</span> on your face</h1></div>
    </span></p>
</div></div>


<script src="{% static 'js/contact.css' %}"></script>
            
        </body>
    </head>
</HTML>
