{% extends 'base.html' %}
{% block title %} {{ category.name }} {% endblock %}
{% block content %}


    <!---new arrivals------------>
    <style>
        .productlist{
            margin-top: 0;margin: 0 0 0 90px;max-height: fit-content;
        }
        .page_title h1{
            font-family: jaka;background-color: gold;border-bottom: 0.1px solid black;padding: 5px ;border-radius: 10px; height: fit-content;position: absolute; left: 50px;
        }
        .content h2{
            color: black;text-decoration: none;position: absolute;margin: -20px 0 0 0;
        }
        .discount{
            position: absolute;margin: -10% 0 0 90px ; color: red;width: 100px;height: fit-content;
        }
        .content p a{
            text-decoration: none;max-height: 25px;cursor: pointer;color: black;width: 100%;margin: 0 0 0 0;position: relative;
        }
        .content button{width: 200px;height: 25px;border-radius: 2rem;font-size: 0.9rem;border: none;background-color: rgb(80, 156, 255); position: absolute;bottom: 5%;color: #ffffff;}
        
        .price_list{font-size: 1rem;justify-content: space-between;flex-wrap: wrap;position: relative;width: 150px;margin: 100px 0 0 0;padding: 0 20px;
        }
        .rate{
            position: absolute;margin: 0 0 10px 50px;padding: 10px;color: gold;
        }
        .save_upto{
            background-color: rgba(255, 136, 0, 0.781);border-radius: 10px;width: fit-content;height: fit-content;position: absolute;margin: 55px 0 0 80px;padding: 1px 3px;font-size: 0.9rem;
        }
        .content h2{
            height: fit-content;
        }
        .item-title{
                    position: relative;padding: 20px 50px;font-family: jayb;background-color:#88bbee6b ;width: 99%;color: black;border-radius: 10px;font-size: 1.5rem;font-weight: 500;
        }
        .empty{
            align-items: center;font-size: 2rem;font-family: jayb;margin: 0 0 0 500px;
        }
    </style>
    <div class="category-container">
     <div class="item-title"><h1>{{category.name}}</h1></div>
    <div class="productlist">
       
        {% for item in items %}
        <div class="content" >
           
            <a class="details" href="{% url 'shop:item_detail' slug=item.slug %}">
            <img src="{{ item.image.url }}" alt=""></a>
            <!------------------------------love--icon----------------------------------------->
    
            <span class="love"><ion-icon name="heart"></ion-icon></span>
            <p class="item_name"><a href="{% url 'shop:item_detail' slug=item.slug %}">{{ item.name }}</a></p>
            <h2>
                {% if item.discount_price %}

                <div class="save_upto">-{{item.get_save_upto}}/- </div>

                <del class="discount"><div class="price_list"><h1 class="original-price"> {{ item.price }}/- </h1></div></del>

                <div class="price_list"><h1 class="price">ksh. {{item.discount_price}} </h1></div>
                
                {% else %}
                <div class="price_list"><h1 class="price">ksh. {{ item.price }} </h1></div>
                {% endif %}
            </h2>
             <!-- Add to Cart Button -->
               <a href="{% url 'shop:item_detail' slug=item.slug %}"> <button>Add to Cart</button></a>

               <!-------------------------iconstarchecked-------------------------------->
            <div class="rate">
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star"></ion-icon></span>
                    <span class="rates"><ion-icon name="star-half-outline"></ion-icon></span>
                 </div></div>
                 {% empty %}
            <p class="empty">No items found in this category.</p>
                 {% endfor %}</div>
    </div>
{% endblock %}
