{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Maa Mara Market || register</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    </head>

    <body>
        
         <!-----------loging container------>  
         <div class="log_in_container">

            <div class="form-box login">
                <h2>login</h2>

                <style>
                    h5{color: red; font-family: jayb;}
                </style>

                {%  for message in messages %}
                <h5>{{message}}</h5>

                 {% endfor %}
                    <!----form start--->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="picture">Upload Profile Picture:</label>
                        <input type="file" name="picture" id="picture">
                        
                        <label for="date_of_birth">Date of Birth:</label>
                        <input type="date" name="date_of_birth" id="date_of_birth">
                        
                        <label for="location">Location:</label>
                        <input type="text" name="location" id="location">
                        
                        <button type="submit">Save</button>
                    </form>

                    
            </div>
            </div>

                     


            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



            <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>