Django==4.2.11
djangorestframework
djangorestframework-simplejwt
django-environ
django-cors-headers
django-allauth
django-countries
django-crispy-forms
crispy-bootstrap4
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.3
celery
redis>=5.2,<6.0
psycopg2-binary
Pillow
requests
python-dotenv
openai
bleach
cryptography
python-dateutil
whitenoise
