Django==4.2.11
djangorestframework
djangorestframework-simplejwt
django-environ
django-cors-headers
django-allauth
django-countries
django-crispy-forms
crispy-bootstrap4
channels
channels-redis
daphne
celery
redis
psycopg2-binary
Pillow
requests
python-dotenv
openai
bleach
cryptography
python-dateutil
